<p-dialog header="{{selectedEletronic ? 'Editar Eletrônico': 'Adicionar Eletrônico'}}" [(visible)]="displayAddEditModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="eletronicForm" class="eletronic-form">
        <div class="field">
            <label class="block" for="name">Nome</label>
            <input type="text" pInputText id="name" formControlName="name">
            <small class="p-error block" *ngIf="eletronicForm.controls['name'].invalid && eletronicForm.controls['name'].dirty">Field is Required</small>
        </div>
        <div class="field">
            <label class="block" for="description">Descrição</label>
            <textarea pInputTextarea formControlName="description"></textarea>
        </div>
        <div class="field">
            <label class="block">Marca</label>
            <input type="text" pInputText formControlName="brand">
            <small class="p-error block" *ngIf="eletronicForm.controls['brand'].invalid && eletronicForm.controls['brand'].dirty">Field is Required</small>
        </div>
        <div class="field-row">
            <div>
                <label class="block" for="price">Preço</label>
                <p-inputNumber id="price" formControlName="price"></p-inputNumber>
                <small class="p-error block" *ngIf="eletronicForm.controls['price'].invalid && eletronicForm.controls['price'].dirty">Field is Required</small>
            </div>
            <div>
                <label class="block">Quantidade</label>
                <p-inputNumber formControlName="amount"></p-inputNumber>
                <small class="p-error block" *ngIf="eletronicForm.controls['amount'].invalid && eletronicForm.controls['amount'].dirty">Field is Required</small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button
            (click)="closeModal()"
            label="Cancelar"
            [rounded]="true" 
            severity="warning"
        ></p-button>

        <p-button
            (click)="addEditEletronic()"
            label="{{selectedEletronic ? 'Editar': 'Adicionar'}}"
            [rounded]="true" 
            severity="success"
            [disabled]="eletronicForm.invalid"
        ></p-button>
    </ng-template>
</p-dialog>